<form id="form-reserve-role" data-type="grid" data-columns="2">
    <h2 class="fullWidth" data-box-align="center">Reserve a Role</h2>
    <label>
        <b>Alias</b>
        <span><input type="text" id="alias" placeholder="Alias" required=""></span>
    </label>
    <label>
        <b>Plot</b>
        <span><select id="plot" required>
            <option value="">(select)</option>
        </select></span>
    </label>
    <label>
        <b>Section</b>
        <span><select id="section" required>
            <option value="">(select)</option>
        </select></span>
    </label>
    <label>
        <b>Role</b>
        <span><select id="role" required>
            <option value="">(select)</option>
        </select></span>
    </label>
    <button type="submit" id="submit" class="fullWidth">Submit</button>
</form>