/*******************************
    Variables
********************************/
:root {
    --font-body: 'Lato', sans-serif;
    --font-head: 'Roboto Condensed', sans-serif;

    --size-xs: 9px;
    --size-sm: 11px;
    --size-md: 13px;
    --size-lg: 15px;
    --size-xl: 17px;

    --rgb: 145, 74, 74;

    --black: rgb(18, 18, 18);
    --ltGrey: rgb(198, 198, 198);
    --white: rgb(245, 245, 245);

    --bg-primary: var(--black);

    --text-primary: var(--ltGrey);
    --text-secondary: var(--white);

    --bg-image: url('../images/bg-tiger.jpg');
    --bg-blend: hard-light;
    --bg-opacity: 0.1;
}

body {
    &.lgFont {
        --size-xs: 11px;
        --size-sm: 13px;
        --size-md: 15px;
        --size-lg: 17px;
        --size-xl: 19px;
    }
    &.xlFont {
        --size-xs: 13px;
        --size-sm: 15px;
        --size-md: 17px;
        --size-lg: 19px;
        --size-xl: 21px;
    }
    &.light {
        --bg-accent: var(--accent-90);
        --bg-accent-50: var(--accent-50);
        --bg-primary: var(--offwhite);
        --bg-secondary: var(--white);
        --bg-tertiary: var(--grey-xlight);
        --bg-quaternary: var(--grey-light);
        --bg-transparent: var(--white-75);
        --bg-transparent-low: var(--white-50);
    
        --text-accent: var(--accent);
        --text-primary: var(--grey-dark);
        --text-secondary: var(--grey-xdark);

        --border-primary: var(--grey-mlight);

        &[class*="g-"],
        [class*="g-"] {
            --bg-accent: var(--accent-90);
        }
    }

    //Set up
    &[class*="g-"],
    [class*="g-"] {
        --accent: rgb(var(--rgb));

        --border-accent: var(--accent);
        --bg-accent: var(--accent);
        --text-accent: var(--accent);
    }

    //Other
    &.g-1,
    .g-1,
    &.g-2,
    .g-2,
    &.g-3,
    .g-3 {
        --rgb: 145, 74, 74;
    }

    //Banned & Inactive
    &.g-5,
    .g-5 {
        --rgb: 121, 121, 121;
    }

    //Staff
    &.g-4,
    .g-4,
    [data-group="staff"],
    [data-group="Staff"],
    [data-group="STAFF"] {
        --rgb: 93, 125, 118;
    }

    //Sorted
    &.g-6,
    .g-6,
    [data-group="writer"],
    [data-group="Writer"],
    [data-group="WRITER"] {
        --rgb: 142, 84, 61;
    }

    //Tiger
    &.g-7,
    .g-7,
    [data-group="tiger"],
    [data-group="Tiger"],
    [data-group="TIGER"] {
        --rgb: 153, 117, 78;
    }

    //Wolf
    &.g-8,
    .g-8,
    [data-group="wolf"],
    [data-group="Wolf"],
    [data-group="WOLF"] {
        --rgb: 88, 92, 98;
    }

    //Rabbit
    &.g-9,
    .g-9,
    [data-group="rabbit"],
    [data-group="Rabbit"],
    [data-group="RABBIT"] {
        --rgb: 189, 91, 132;
    }

    //Adder
    &.g-10,
    .g-10,
    [data-group="adder"],
    [data-group="Adder"],
    [data-group="ADDER"] {
        --rgb: 87, 98, 64;
    }

    //Eagle
    &.g-11,
    .g-11,
    [data-group="eagle"],
    [data-group="Eagle"],
    [data-group="EAGLE"] {
        --rgb: 119, 157, 164;
    }

    //Otter
    &.g-12,
    .g-12,
    [data-group="otter"],
    [data-group="Otter"],
    [data-group="OTTER"] {
        --rgb: 162, 147, 118;
    }

    //Crow
    &.g-13,
    .g-13,
    [data-group="crow"],
    [data-group="Crow"],
    [data-group="CROW"] {
        --rgb: 95, 89, 117;
    }

    //Deer
    &.g-14,
    .g-14,
    [data-group="deer"],
    [data-group="Deer"],
    [data-group="DEER"] {
        --rgb: 149, 155, 127;
    }

    //Unicorn
    &.g-15,
    .g-15,
    [data-group="unicorn"],
    [data-group="Unicorn"],
    [data-group="UNICORN"] {
        --rgb: 168, 146, 159;
    }

    //Phoenix
    &.g-16,
    .g-16,
    [data-group="phoenix"],
    [data-group="Phoenix"],
    [data-group="PHOENIX"] {
        --rgb: 189, 141, 79;
    }

    //Dragon
    &.g-17,
    .g-17,
    [data-group="dragon"],
    [data-group="Dragon"],
    [data-group="DRAGON"] {
        --rgb: 83, 34, 34;
    }

    //Selkie
    &.g-18,
    .g-18,
    [data-group="selkie"],
    [data-group="Selkie"],
    [data-group="SELKIE"] {
        --rgb: 34, 86, 96;
    }
}