<h2 data-box-align="center">Basic Groups</h2>
<blockquote>Basic Group Intro explaining how they're free of charge, how our groups work in general, etc</blockquote>
<div data-type="grid" data-columns="2">
    <div class="g-10">
        <div class="h6">Adder</div>
        <div class="h7" data-box-align="left"><i>Vipera berus</i></div>
        <div class="group-aesthetics">
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
        </div>
        <blockquote data-box-align="left">cold and calculating // they’ll know when they’ve pushed you too far // eyeliner sharp enough to cut glass // neon lights obscured by smoke // dozens of voicemails you haven’t listened to</blockquote>
    </div>
    <div class="g-13">
        <div class="h6">Crow</div>
        <div class="h7" data-box-align="left"><i>Corvus brachyrhynchos</i></div>
        <div class="group-aesthetics">
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
        </div>
        <blockquote data-box-align="left">creative and untethered // collecting trinkets from all the places you’ve been // a crowded corner booth at a bar // wholeheartedly committing to the bit // always on the move, can’t sit still for long</blockquote>
    </div>
    <div class="g-14">
        <div class="h6">Deer</div>
        <div class="h7" data-box-align="left"><i>Odocoileus virginianus</i></div>
        <div class="group-aesthetics">
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
        </div>
        <blockquote data-box-align="left">anxious and mutable // always looking to the past or the future, never the present // the sun shining through rain clouds // changing your mind at the last minute // following the leader</blockquote>
    </div>
    <div class="g-11">
        <div class="h6">Eagle</div>
        <div class="h7" data-box-align="left"><i>Haliaeetus leucocephalus</i></div>
        <div class="group-aesthetics">
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
        </div>
        <blockquote data-box-align="left">noble and proud // always having exactly the right words to say // spending an hour in front of the mirror before walking out the door // putting your best foot forward // chasing adrenalin just to feel anything at all</blockquote>
    </div>
    <div class="g-12">
        <div class="h6">Otter</div>
        <div class="h7" data-box-align="left"><i>Lontra canadensis</i></div>
        <div class="group-aesthetics">
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
        </div>
        <blockquote data-box-align="left">loyal and unapologetic // swearing in front of your grandparents // bruises you don’t remember getting // dancing in the middle of a rainstorm // the family you choose is the family that matters</blockquote>
    </div>
    <div class="g-9">
        <div class="h6">Rabbit</div>
        <div class="h7" data-box-align="left"><i>Oryctolagus cuniculus</i></div>
        <div class="group-aesthetics">
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
        </div>
        <blockquote data-box-align="left">playful and cunning // always on alert, even when you don’t look it // bodies covered in elaborate decorations // smiles that don’t always reach your eyes // finding comfort in the presence of others</blockquote>
    </div>
    <div class="g-7">
        <div class="h6">Tiger</div>
        <div class="h7" data-box-align="left"><i>Panthera tigris</i></div>
        <div class="group-aesthetics">
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
        </div>
        <blockquote data-box-align="left">thoughtful and intuitive // rain so loud it drowns out the sound of traffic // a life of solitude, but not by choice // feeling every emotion with your entire being // ink smeared on a weathered page</blockquote>
    </div>
    <div class="g-8">
        <div class="h6">Wolf</div>
        <div class="h7" data-box-align="left"><i>Canis lupus</i></div>
        <div class="group-aesthetics">
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
        </div>
        <blockquote data-box-align="left">courageous and faithful // clouds covering the moon at night // bruises concealed beneath make-up // willing to die for the ones you love // singing when nobody’s around to hear you</blockquote>
    </div>
</div>

<h2 data-box-align="center">Premium Groups</h2>
<blockquote>Premium Group Intro explaining cost, how to purchase, etc</blockquote>
<div data-type="grid" data-columns="2">
    <div class="g-17">
        <div class="h6">Dragon</div>
        <div class="h7" data-box-align="left"><i>draco, drákōn</i></div>
        <div class="group-aesthetics">
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
        </div>
        <blockquote data-box-align="left">fierce and intelligent // always having a back-up plan // a slight thoughtful wrinkle between eyebrows // scars you’ve had for as long as you can remember // never let them see you cry</blockquote>
    </div>
    <div class="g-16">
        <div class="h6">Phoenix</div>
        <div class="h7" data-box-align="left"><i>phoinix, phoenīx</i></div>
        <div class="group-aesthetics">
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
        </div>
        <blockquote data-box-align="left">stubborn and impulsive // burning bridges before you can change your mind // a storm blotting out the daytime sky // broken fingernails and bruised knuckles // screaming into the void</blockquote>
    </div>
    <div class="g-18">
        <div class="h6">Selkie</div>
        <div class="h7" data-box-align="left"><i>maighdeann-ròin</i></div>
        <div class="group-aesthetics">
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
        </div>
        <blockquote data-box-align="left">cooperative and curious // unafraid to ask the hard questions // lo-fi music playing softly in the background // the “soft” sciences // always looking outward instead of towards yourself</blockquote>
    </div>
    <div class="g-15">
        <div class="h6">Unicorn</div>
        <div class="h7" data-box-align="left"><i>unicornis, monoceros</i></div>
        <div class="group-aesthetics">
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
            <span><img src="http://picsum.photos/300" /></span>
        </div>
        <blockquote data-box-align="left">ethereal and superstitious // a pinch of salt thrown over your left shoulder // believing your fate to be written in the stars // the northern lights in an unpolluted sky // climbing fences to get a better view</blockquote>
    </div>
</div>