<tag-wrap data-type="timeline">
    <tag-year>YYYY</tag-year>
    <tag-month>Month</tag-month>
    <tag-event>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</tag-event>
</tag-wrap>

<tag-comm data-type="playlist">
    <tag-scroll>
        <tag-song>
            <b>Song Title</b>
            <i>Artist/Band</i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </tag-song>
    </tag-scroll>
</tag-comm>

<tag-wrap data-type="imagegrid" data-columns="3">
    <tag-image><img src="http://picsum.photos/400" /></tag-image>
    <tag-image><img src="http://picsum.photos/400/600" /></tag-image>
    <tag-image><img src="http://picsum.photos/600/400" /></tag-image>
</tag-wrap>

<tag-wrap data-type="quote">
    <tag-content>Some people will always taste like fire and leave the ones that love them tasting like ash.</tag-content>
    <tag-credit>Nikita Gill</tag-credit>
</tag-wrap>