<tag-comm>
    <tag-scroll>
        <div data-type="socialgallery" class="splide" role="group"><div class="splide__track">
            <tag-images class="splide__list">
                <tag-image class="splide__slide">
                    <img src="https://picsum.photos/400/600" />
                </tag-image>
                <tag-image class="splide__slide">
                    <img src="https://picsum.photos/600" />
                </tag-image>
                <tag-image class="splide__slide">
                    <img src="https://picsum.photos/400" />
                </tag-image>
            </tag-images>
        </div><div class="splide__arrows"><button class="splide__arrow splide__arrow--prev"><i class="fa-solid fa-arrow-left-long"></i></button><button class="splide__arrow splide__arrow--next"><i class="fa-solid fa-arrow-right-long"></i></button></div></div>
        <tag-contact>
            <b>username</b>
            <p>info &mdash; info &mdash; info</p>
        </tag-contact>
        <tag-msg>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</tag-msg>
        <tag-needs data-work="TRUE" data-convo="FALSE" data-friends="FALSE" data-fling="FALSE" data-love="FALSE">
            <b>Looking For</b><i class="fa-solid fa-briefcase" title="Work Connections"></i><i class="fa-solid fa-message-lines" title="Conversation"></i><i class="fa-solid fa-users" title="Friends"></i><i class="fa-solid fa-bolt" title="No Strings Attached"></i><i class="fa-solid fa-heart" title="Relationship"></i>
        </tag-needs>
        <tag-connections>
            <b>Connections</b>
            <a href="/" title="username"><img src="https://picsum.photos/100" /></a>
            <a href="/" title="username"><img src="https://picsum.photos/100" /></a>
            <a href="/" title="username"><img src="https://picsum.photos/100" /></a>
        </tag-connections>
    </tag-scroll>
</tag-comm>

<tag-comm data-type="adjustable">
    <tag-scroll>
        <div data-type="socialgallery" class="splide" role="group"><div class="splide__track">
            <tag-images class="splide__list">
                <tag-image class="splide__slide">
                    <img src="https://picsum.photos/400/600" />
                </tag-image>
                <tag-image class="splide__slide">
                    <img src="https://picsum.photos/600" />
                </tag-image>
                <tag-image class="splide__slide">
                    <img src="https://picsum.photos/400" />
                </tag-image>
                <tag-image class="splide__slide">
                    <img src="https://picsum.photos/400" />
                </tag-image>
                <tag-image class="splide__slide">
                    <img src="https://picsum.photos/400" />
                </tag-image>
                <tag-image class="splide__slide">
                    <img src="https://picsum.photos/400" />
                </tag-image>
                <tag-image class="splide__slide">
                    <img src="https://picsum.photos/400" />
                </tag-image>
                <tag-image class="splide__slide">
                    <img src="https://picsum.photos/400" />
                </tag-image>
            </tag-images>
        </div><div class="splide__arrows"><button class="splide__arrow splide__arrow--prev"><i class="fa-solid fa-arrow-left-long"></i></button><button class="splide__arrow splide__arrow--next"><i class="fa-solid fa-arrow-right-long"></i></button></div></div>
        <tag-reaction>
            <b>Username</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </tag-reaction>
    </tag-scroll>
</tag-comm>


<tag-comm data-type="adjustable">
    <tag-scroll>
        <tag-status>
            <img src="https://picsum.photos/100" />
            <p><b>Username</b> is currently...</p>
        </tag-status>
    </tag-scroll>
</tag-comm>
<tag-comm data-type="adjustable">
    <tag-scroll>
        <tag-status>
            <img src="https://picsum.photos/100" />
            <p><a href="/">Username</a> swiped right!</p>
        </tag-status>
    </tag-scroll>
</tag-comm>