<tag-wrap data-type="tabs">
    <tag-labels>
        <tag-label>tab one</tag-label>
        <tag-label>tab two</tag-label>
        <tag-label>tab three</tag-label>
    </tag-labels>
    <tag-tabs>
        <tag-tab><tag-scroll data-height="xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</tag-scroll></tag-tab>
        <tag-tab>tab two</tag-tab>
        <tag-tab>tab three</tag-tab>
    </tag-tabs>
</tag-wrap>

<div data-type="gallery" class="splide" role="group"><div class="splide__track">
  <tag-images class="splide__list" data-image-ratio="4:3">
    <tag-image class="splide__slide">
      <img src="https://picsum.photos/400/600" />
    </tag-image>
    <tag-image class="splide__slide">
      <img src="https://picsum.photos/600" />
    </tag-image>
    <tag-image class="splide__slide">
      <img src="https://picsum.photos/600/400" />
    </tag-image>
  </tag-images>
</div><div class="splide__arrows"><button class="splide__arrow splide__arrow--prev"><i class="fa-solid fa-arrow-left-long"></i></button><button class="splide__arrow splide__arrow--next"><i class="fa-solid fa-arrow-right-long"></i></button></div></div>