@import '../global/mixins.scss';

/*******************************
    Header
********************************/
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    font-family: var(--font-head);
    margin-top: 85px;
    z-index: 1;

    body:not(#idx) & {
        margin-top: 85px;
        height: 50vh;
        min-height: 0;
    }

    @include mq-up(sm) {
        margin-top: 0;
        height: 100vh;
        min-height: 600px;
    }

    &--inner {
        display: grid;
        grid-template-columns: max-content 1fr;
        align-items: end;
        gap: 0 30px;
    
        & > a {
            text-transform: uppercase;
            letter-spacing: -0.1em;
            @include fluid-type(30, 60, 480, 1024);
            font-family: 'Roboto Condensed';
            text-align: right;
            color: var(--text-secondary);

            @include mq-down(sm) {
                border-right: 10px solid var(--border-accent);
                padding-right: 30px;
            }

            h1 {
                margin: 0;

                span {
                    line-height: 110%;

                    &:first-child {
                        font-size: 16px;
                        letter-spacing: 6px;
                        margin-right: -1.5em;
                        color: var(--text-accent);

                        @include mq-down(sm) {
                            display: none;
                        }
                    }
                    &:last-child {
                        display: block;
                        margin-top: -0.225em;
                        margin-bottom: -0.2em;
                    }
                }
            }
        }
    
        & > p {
            grid-column: 1 / -1;
            margin: 0 20px;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 4px;
            color: var(--text-primary);

            @include mq-down(sm) {
                display: none;
            }
        }
    }

    &--tag {
        writing-mode: vertical-lr;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
        color: var(--text-secondary);

        @include mq-down(sm) {
            display: none;
        }

        b {
            font-weight: 600;
        }

        u {
            text-decoration: none;
            font-weight: 200;
            letter-spacing: 3px;
            padding: 5px 0;

            &::before {
                content: '';
                position: absolute;
                bottom: 1.5px;
                left: 0;
                width: 12px;
                height: 100%;
                background: var(--accent);
                z-index: -1;
            }
        }
    }
}