@import '../global/mixins.scss';

/*******************************
    Post Row
********************************/
#ST,
#Post {
    header.header {
        display: none;
    }
    
    main {
        max-width: none;

        & > table {
            width: calc(100% + 40px);
            padding: 10px 20px;
            margin: 0 -20px;

            tr {
                display: flex;
                gap: 10px 30px;
                flex-wrap: wrap;
                justify-content: space-between;

                td {
                    display: flex;
                    max-width: 100%;
                    width: max-content;
                    gap: 10px;
                }
            }

            &:first-of-type {
                position: sticky;
                top: 85px;
                z-index: 2;
                transition-duration: 0.3s;
                background: var(--bg-secondary);
                border-bottom: 1px solid var(--border-accent-transparent);

                @include mq-up(sm) {
                    top: 29px;
                }
            }

            &:not(:first-of-type) {
                background: var(--bg-secondary);
                border-top: 1px solid var(--border-accent-transparent);
                border-bottom: 1px solid var(--border-accent-transparent);
            }
        }

        .maintitle {
            margin: 60px auto 10px;
            max-width: 1140px;
            @include fluid-type(24, 48, 480, 1440);
            text-transform: uppercase;
            font-weight: 900;
            font-family: var(--font-head);
            color: var(--text-secondary);
            display: flex;
            flex-direction: column;
            line-height: 100%;

            .topic-title-space {
                display: none;
            }

            .topic-desc {
                font-size: 0.5em;
                line-height: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 20px;
                max-width: 100%;

                &::after {
                    content: '';
                    width: auto;
                    height: 1px;
                    background: var(--bg-accent);
                    display: block;
                    min-width: 20px;
                    flex-grow: 1;
                }

                tag-highlight {
                    font-size: var(--size-md);
                    padding: 5px 10px 2px;
                    font-weight: 700;
                    margin: 10px 0;
                }
            }
        }

        .postlinksbar {
            text-align: center;
            font-size: 0;
            margin-bottom: 60px;

            strong {
                display: flex;
                flex-wrap: wrap;
                gap: 10px 20px;
                justify-content: center;
                font-weight: 900;
                line-height: 0;

                a {
                    color: var(--text-primary);
                    border-left: calc(var(--size-xs) + 2px) solid var(--border-accent);
                    padding-left: calc(var(--size-xs) + 2px);
                    transition-duration: 0.3s;
                    text-transform: uppercase;
                    font-size: var(--size-xs);
                    letter-spacing: 0.2em;
                    line-height: 120%;

                    &:hover {
                        color: var(--text-secondary);
                        border-color: var(--border-accent-transparent);
                    }
                }
            }
        }
    }

    .quick-edit {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px;

        .editor {
            width: 100%;
            flex: 0 0 100%;
            margin: 0;

            textarea {
                width: 100%;
                padding: 15px;
                background: var(--bg-quaternary);
            }
        }

        .buttons,
        .right-buttons {
            float: none !important;
            display: flex;
            gap: 5px;

            input,
            a {
                border: 1px solid var(--border-accent);
                background: var(--bg-quaternary);
                color: var(--text-accent);
                font-family: var(--font-head);
                font-weight: 900;
                height: 30px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                transition-duration: 0.3s;
                padding: 0 10px;
                text-transform: uppercase;

                &:hover {
                    background: var(--bg-secondary);
                }
            }
        }
    }

    .activeuserstrip,
    .activeuserstrip + .row2 {
        text-transform: uppercase;
        font-size: calc(var(--size-xs) + 1px);
        letter-spacing: 0.1em;
        text-align: center;
        padding: 5px 15px !important;
        line-height: 200%;
        max-width: 1150px;
        margin: 0 auto;
        border-left: 1px solid var(--border-accent-transparent);
        border-right: 1px solid var(--border-accent-transparent);
        background: var(--bg-tertiary);

        a {
            color: var(--text-secondary);
        }
    }
    .activeuserstrip {
        border-top: 1px solid var(--border-accent-transparent);
        padding: 15px 15px 0 !important;

        & + .row2 + .activeuserstrip {
            border-top: 0;
            border-bottom: 1px solid var(--border-accent-transparent);
            padding: 0 15px 15px !important;
        }
    }
}
.post {
    display: grid;
    gap: 0 50px;
    margin: 0 auto 60px;
    max-width: 1150px;
    font-size: var(--size-lg);
    line-height: 200%;

    @include mq-up(sm) {
        min-height: 390px;
        grid-template-columns: 250px auto;
    }

    @include mq-up(md) {
        min-height: 475px;
        grid-template-columns: 300px auto;
    }

    &--left {
        &:not(.is-image) {
            .post--image {
                img {
                    transform: scale(1.4);
                    filter: blur(5px) opacity(0.5);
                }
            }
        }
    }
    &--sticky {
        display: grid;
        padding: 20px 0;

        @include mq-up(xs) {
            grid-template-columns: 250px auto;
            gap: 30px;
            padding: 50px 0 20px;
        }

        @include mq-up(sm) {
            display: block;
            position: sticky;
            top: 100px;
        }
    }
    &--image {
        position: absolute;
        top: 0;
        height: 340px;
        width: 100%;

        @include mq-up(xs) {
            width: 250px;
        }

        @include mq-up(sm) {
            width: 100%;
            right: 0;
            height: 390px;
        }

        @include mq-up(md) {
            height: 475px;
        }

        &::before {
            content: '';
            width: calc(100% - 40px);
            height: 130px;
            position: absolute;
            top: 0;
            left: 0;
            background: var(--bg-accent);

            @include mq-up(xs) {
                height: 160px;
            }

            @include mq-up(sm) {
                aspect-ratio: 1 / 1;
                height: auto;
            }
        }

        &-inner {
            width: calc(100% - 50px);
            height: 290px;
            position: absolute;
            top: 20px;
            right: 0;
            overflow: hidden;
            background: var(--bg-primary);

            @include mq-up(xs) {
                top: 50px;
            }

            @include mq-up(sm) {
                width: 200px;
                height: 340px;
            }

            @include mq-up(md) {
                width: 250px;
                height: 425px;
            }

            img {
                width: 100%;
                height: 100%;
                transition-duration: 0.5s;

                &.wide {
                    @include mq-up(xs) {
                        display: none;
                    }
                }

                &.tall {
                    @include mq-down(xs) {
                        display: none;
                    }
                }
            }
        }
    }
    &--slides {
        width: calc(100% - 50px);
        left: 50px;
        height: 290px;
        display: flex;
        overflow: hidden;
        flex-direction: row-reverse;

        @include mq-up(sm) {
            width: 200px;
            height: 340px;
        }

        @include mq-up(md) {
            width: 250px;
            height: 425px;
        }
    }
    &--slide {
        flex: 0 0 100%;
        padding: 15px;
        transition-duration: 0.5s;
        right: 0;
    
        &-inner {
            background: var(--bg-overlay);
            height: 100%;
            padding: 15px;
            display: flex;
            align-items: center;

            .scroll {
                max-height: 100%;
                width: 100%;

                & > [data-type="grid"] {
                    gap: 15px;
                }
            }
        }
    }
    &--item {
        display: grid;
        gap: 5px;
        font-size: var(--font-md);
        margin-top: 1px;

        &.abilities {
            &:last-child {
                padding-bottom: 2px;
            }
        }

        a {
            color: var(--text-accent);
            font-size: 0.8em;
            top: -2px;
            margin-left: 5px;
        }

        & > strong {
            font-family: var(--font-head);
            font-size: var(--size-xl);
            text-transform: uppercase;
            font-weight: 700;
            z-index: 1;
            max-width: 100%;
            width: max-content;
            color: var(--text-secondary);
            border-top: 1px solid var(--border-accent);
            border-bottom: 1px solid var(--border-accent);
            padding: 0 0.6em;
            letter-spacing: 0.15em;
        }
        & > span {
            font-weight: 300;
            letter-spacing: 0.05em;
            line-height: 200%;
            font-size: 14px;

            &.scroll {
                max-height: 100px;
                line-height: 160%;
                text-align: justify;
                font-size: 0.95em;
            }
            &.awards {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-top: 10px;

                img {
                    width: 18px;
                    height: 18px;
                    object-fit: contain;
                }
            }
            power-clip {
                display: flex;
                flex-direction: column;
                gap: 5px;

                tag-highlight {
                    margin: 0;
                    max-width: max-content;
                }
            }
        }
    }
    &--bullets {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 310px;
        left: 10px;
        transform: translateY(-100%);
        gap: 5px;
        counter-reset: bullets;

        @include mq-up(xs) {
            top: 340px;
        }

        @include mq-up(sm) {
            left: auto;
            right: -40px;
            top: 475px;
        }
    }
    &--bullet {
        width: 30px;
        height: 30px;
        background: none;
        border: 1px solid var(--border-accent-transparent);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-accent);
        font-family: var(--font-head);
        font-weight: 900;
        transition-duration: 0.3s;

        &.is-active {
            background: var(--bg-accent);
            color: var(--text-on-accent);
        }

        &::before {
            counter-increment: bullets;
            content: counter(bullets);
        }

        &:not(.is-active):hover {
            background: var(--bg-secondary);
        }
    }
    &--static {
        margin-top: 30px;

        @include mq-down(sm) {
            align-self: end;
            padding-right: 10px;
        }

        & > a {
            display: flex;
            flex-direction: column;
            font-family: var(--font-head);
            text-transform: uppercase;
            color: var(--text-secondary);
            font-size: 35px;
            line-height: 100%;
            margin: 0;
            transition-duration: 0.5s;

            span {
                line-height: 100%;
                display: grid;
                align-items: center;
                grid-template-columns: max-content auto;
                gap: 20px;
                max-width: 100%;

                &:not(:only-child) {
                    font-size: 0.5em;
                }
                &:only-child {
                    font-weight: bold;
                }

                &::after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background: var(--bg-accent);
                    display: block;
                    min-width: 20px;
                }
            }
        }

        p {
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 0.2em;
            text-align: justify;
            line-height: 140%;
            margin: 10px 0 0;
            transition-duration: 0.5s;
            font-size: calc(var(--size-xs) + 1px);
        }
    }
    &--links {
        text-transform: uppercase;
        font-size: var(--size-xs);
        letter-spacing: 0.2em;
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
        font-weight: 900;
        line-height: 120%;
        margin-top: 10px;

        a {
            color: var(--text-primary);
            border-left: calc(var(--size-xs) + 2px) solid var(--border-accent);
            padding-left: calc(var(--size-xs) + 2px);
            transition-duration: 0.3s;

            &:hover {
                color: var(--text-secondary);
                border-color: var(--border-accent-transparent);
            }
        }
    }
    &--right {
        display: flex;
        flex-direction: column;
        background: var(--bg-tertiary);
        border: 1px solid var(--border-accent-transparent);
        padding: 15px;

        @include mq-up(sm) {
            padding: 30px 30px 10px;
        }
    }
    &--content {
        flex-grow: 1;
        text-align: justify;

        .postcolor.no-template {
            max-width: 450px;
            margin: 45px auto;
            border-top: 1px solid var(--border-accent);
            padding: 30px;
            border-bottom: 1px solid var(--border-accent);
            background: var(--bg-quaternary);
        }
    }
    &--date {
        border-top: 1px solid var(--border-primary);
        padding: 10px 10px 0;
        text-transform: uppercase;
        font-size: calc(var(--size-xs) + 1px);
        letter-spacing: 0.1em;
        font-style: italic;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: end;
    }
}
.alert {
    &-select {
        display: none;
        position: absolute;
        top: calc(100% + 11px);
        right: 0;
        z-index: 5;
        background: var(--bg-quaternary);
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        padding: 15px;
        width: calc(100vw - 35px);
        max-width: 500px;
        color: var(--text-primary);
        text-align: left;
        border: 1px solid var(--border-accent-transparent);
        border-top: 0;
    
        &.is-open {
            display: grid;
        }
    
        input[type="button"] {
            grid-column: 1 / -1;
            background: var(--bg-accent);
            border: 1px solid var(--border-accent);
            color: var(--text-on-accent);
            font-family: var(--font-head);
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-weight: 700;
            padding: 15px 30px;
            transition-duration: 0.3s;

            &:hover {
                background: var(--bg-tertiary);
                color: var(--text-secondary);
            }
        }
    }
    &-section {
        &:not(:last-of-type) {
            border-right: 1px solid var(--border-primary);
            padding-right: 10px;
        }
        b {
            font-weight: 600;
            text-transform: uppercase;
            font-size: var(--size-sm);
            color: var(--text-secondary);
            letter-spacing: 0.1em;
            border-bottom: 1px solid var(--accent);
            display: block;
            padding: 0 5px;
            margin-bottom: 10px;

            tag-required {
                font-size: 2em;
                font-family: var(--font-head);
                color: #c93f3f;
                position: absolute;
                transform: translateX(2px) translateY(-2px);
            }
        }
        .scroll {
            max-height: 150px;
        }
        .input-wrap {
            gap: 10px;

            &:not(:last-child) {
                margin-bottom: 0px;
            }

            .fancy-input {
                width: 16px;
                height: 16px;
            }
            span {
                font-size: var(--size-xs);
                letter-spacing: 0.2em;
                font-weight: 900;
                font-family: var(--font-body);
            }
        }
        hr {
            border: none;
            border-top: 1px solid var(--border-accent-transparent);
        }
    }
    &-options {
        .invisibleElTagging.menu-open + & .fa-tags,
        .invisibleElTagging:not(.menu-open) + & .fa-xmark {
            display: none;
        }
    }
}
.invisibleElTagging {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0.5;
    transition-duration: 0.3s;
    background: var(--bg-primary);

    &.menu-open {
        height: 100vh;
    }
}