@import '../global/mixins.scss';

/*******************************
    Topic List
********************************/
#SF {
    header.header {
        display: none;
    }
    
    main {
        max-width: none;

        & > table {
            width: calc(100% + 40px);
            padding: 10px 20px;
            margin: 0 -20px;

            tr {
                display: flex;
                gap: 10px 30px;
                flex-wrap: wrap;
                justify-content: space-between;

                td {
                    display: flex;
                    max-width: 100%;
                    width: max-content;
                    gap: 10px;
                }
            }

            &:first-of-type {
                position: sticky;
                top: 30px;
                z-index: 2;
                transition-duration: 0.3s;
                background: var(--bg-secondary);
                border-bottom: 1px solid var(--border-accent-transparent);
            }

            &:not(:first-of-type) {
                background: var(--bg-secondary);
                border-top: 1px solid var(--border-accent-transparent);
                border-bottom: 1px solid var(--border-accent-transparent);
            }
        }
    }
}
.topics {
    margin: 60px 20px 0;

    @include mq-up(sm) {
        padding: 0 20px;
        margin: 60px auto 0;
        max-width: 1140px;
    }

    &--title {
        h2 {
           font-family: var(--font-head);
           text-transform: uppercase;
           @include fluid-type(40, 70, 480, 1440);
           letter-spacing: 0.3em;
           max-width: max-content;
           margin: 0 auto 100px;
           line-height: 100%;
           padding: 20px 30px;
           overflow: hidden;
           color: var(--text-secondary);
           border-top: 1px solid var(--border-accent);
           border-bottom: 1px solid var(--border-accent);
           text-align: center;
        }
    }

    &--list,
    &--section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        
        @include mq-up(md) {
            grid-template-columns: 1fr 1fr;
        }
    }
    &--section {
        grid-column: 1 / -1;

        & + .macro--header {
            margin-top: 30px;
        }
    }

    &--info {
        margin: 0 20px;
    
        @include mq-up(sm) {
            padding: 0 20px;
            margin: 0 auto;
            max-width: 1140px;
        }

        &-inner {
            border: 1px solid var(--border-accent-transparent);
            padding: 15px 15px 10px;
            background: var(--bg-tertiary);
            margin: 30px 0;
            text-transform: uppercase;
            font-size: calc(var(--size-xs) + 1px);
            letter-spacing: 0.1em;
            text-align: center;
            line-height: 160%;

            select,
            input {
                font-size: calc(var(--size-xs) + 1px);
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-weight: 700;
                height: 24px;
                margin: 0 5px;
            }

            input {
                bottom: -1px;
            }

            a {
                color: var(--text-accent);
            }
        }

        & ~ div[align="right"] {
            text-transform: uppercase;
            font-size: calc(var(--size-xs) + 1px);
            letter-spacing: 0.1em;
            line-height: 160%;
            margin: 0 auto 30px;

            select,
            input {
                font-size: calc(var(--size-xs) + 1px);
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-weight: 700;
                height: 24px;
                margin: 0 5px;
            }

            & ~ br {
                display: none;
            }
        }
    }
}
.topic {
    display: grid;
    gap: 10px;
    padding: 20px 15px;
    border: 1px solid var(--border-accent);
    border-left-width: 10px;
    border-right-width: 10px;
    background: var(--bg-tertiary);

    &--header {
        display: flex;
        align-items: center;
        gap: 10px;

        & > a {
            display: block;
            text-transform: uppercase;
            font-family: var(--font-head);
            font-weight: 800;
            color: var(--text-secondary) !important;
            font-size: 22px;
            line-height: 110%;
            max-width: max-content;
            padding: 0px 5px;
            letter-spacing: -1px;
            transition-duration: 0.3s;
            z-index: 1;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 10px;
                width: 100%;
                background: var(--bg-accent);
                z-index: -1;
                transition-duration: 0.3s;
            }

            &:hover {
                letter-spacing: 0;

                &::before {
                    width: 80%;
                }
            }

            & > span {
                position: absolute;
                right: -0.1em;
                font-size: 1.5em;
                color: var(--text-accent);
                top: -0.15em;
                z-index: -1;
            }
        }
    }
    &--desc {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        a {
            color: var(--text-secondary);
        }

        tag-highlight {
            margin: 0;
        }
    }
    &--posters {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px 30px;
        margin-top: 10px;
        border-top: 1px solid var(--border-primary);
        padding-top: 18px;

        @include mq-up(lg) {
            grid-template-columns: 1fr 1fr;
        }
    }
    &--latest,
    &--started {
        text-transform: uppercase;
        font-size: calc(var(--size-xs) + 1px);
        letter-spacing: 0.1em;
        font-style: italic;
        display: flex;
        flex-direction: column;
        line-height: 160%;

        a {
            color: var(--text-accent);
            font-style: normal;
            font-size: calc(var(--size-md) + 1px);
            font-weight: 900;
            letter-spacing: 0.05em;
            line-height: 160%;
        }

        &::before {
            font-weight: 700;
            font-style: normal;
            color: var(--text-secondary);
        }
    }
    &--latest {
        &::before {
            content: 'Latest post by';
        }
    }
    &--started {
        &::before {
            content: 'Started by';
        }
    }
}