@import '../global/mixins.scss';

/*******************************
    Webpages
********************************/
#Pages {
    & > header {
        display: none;
    }

    main {
        margin: 85px 0 0;
        padding: 0;
        max-width: none;

        @include mq-up(sm) {
            margin: 30px auto 0;
            padding: 30px 20px 0 75px;
        }
    }
}
.webpage {
    display: grid;
    gap: 30px;

    @include mq-up(sm) {
        grid-template-columns: 180px calc(100% - 210px);
    }

    @include mq-up(md) {
        grid-template-columns: 250px calc(100% - 280px);
    }

    & ~ div {
        display: none;
    }

    &--menu {
        @include mq-down(sm) {
            position: fixed;
            top: 85px;
            left: 0;
            width: 100%;
            z-index: 7;
            height: 50px;
            background: var(--bg-secondary);
            padding: 10px;

            button {
                border: 0;
                background: var(--bg-accent);
                width: 30px;
                height: 30px;
                border-radius: 2px;
                color: var(--text-on-accent);
                cursor: pointer;
            }

            &:not(.is-open) {
                .accordion {
                    display: none;
                }
                .fa-xmark {
                    display: none;
                }
            }
            &.is-open {
                .fa-ellipsis-h {
                    display: none;
                }
            }

            .accordion {
                position: fixed !important;
                top: 135px !important;
                height: calc(100vh - 110px);
                background: var(--bg-tertiary);
                left: 0;
                width: 100%;
                padding: 30px 20px;
            }
        }

        .accordion {
            position: sticky;
            top: 60px;
            display: flex;
            flex-direction: column;

            &--trigger {
                font-family: var(--font-head);
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 900;
                z-index: 1;
                width: 100%;
                color: var(--text-secondary);
                border-top: 1px solid var(--border-accent);
                border-bottom: 1px solid var(--border-accent);
                padding: 0.2em 0.4em;
                letter-spacing: 0.2em;
                margin: 30px 0 10px;

                &:first-child {
                    margin-top: 0;
                }
            }
            &--content {
                padding: 10px 20px;
                gap: 15px;
                grid-template-rows: repeat(auto-fit, minmax(0, max-content));

                &.is-active {
                    display: grid;
                }

                a {
                    color: var(--text-secondary);
                    font-size: calc(var(--size-xs) + 1px);
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    border-left: calc(var(--size-xs) + 2px) solid var(--border-accent);
                    padding-left: calc(var(--size-xs) + 2px);
                    line-height: 120%;
                    transition-duration: 0.3s;

                    &:hover {
                        border-left-width: var(--size-xs);
                        padding-left: calc(var(--size-xs) + 4px);
                        letter-spacing: 0.15em;
                    }

                    &.is-active {
                        border-left-width: calc(3 * (var(--size-xs) + 2px));
                    }

                    &.external::after {
                        font-size: 1.2em;
                        font-family: 'Font Awesome 6 Pro';
                        top: -3px;
                        position: relative;
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    &--content {
        height: calc(100vh - 90px);
        min-height: 600px;
        
        @include mq-down(sm) {
            height: calc(100vh - 175px);
            min-height: 0;
            margin: 70px 20px 20px;
        }

        &-inner {
            background: var(--bg-tertiary);
            border: 1px solid var(--border-accent-transparent);
            padding: 30px;
            height: 100%;

            .scroll {
                height: 100%;

                p {
                    text-align: justify;
                    margin: 0 0 20px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .neighbourhood {
            max-width: 600px;
            margin: 0 auto;
            background: var(--bg-quaternary);
            padding: 20px;
            border: 1px solid var(--border-primary);
            border-radius: 2px;

            .accordion {
                &--trigger {
                    font-family: var(--font-head);
                    text-transform: uppercase;
                    font-weight: 900;
                    font-size: 16px;
                    color: var(--text-secondary);
                    border-top: 1px solid var(--border-accent);
                    border-bottom: 1px solid var(--border-accent);
                    width: 100%;
                    padding: 0.2em 0.4em;
                    letter-spacing: 0.2em;
                    margin: 30px 0 10px;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .role--title {
        margin-bottom: 0;
    }
    .role--description {
        text-transform: uppercase;
        font-size: var(--size-xs);
        letter-spacing: 0.2em;
        line-height: 250%;
        padding: 0 20px;
    }

    .claim {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;

        & > a,
        & > b {
            font-family: var(--font-head);
            color: var(--text-secondary);
            text-transform: uppercase;
            font-size: var(--size-xl);
            font-weight: 900;
            padding: 5px 15px;
            line-height: 160%;
            width: max-content;
            max-width: 100%;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                width: 5px;
                height: 100%;
                border: 1px solid var(--border-accent);
            }

            &::before {
                left: 0;
                border-right: 0;
            }

            &::after {
                right: 0;
                border-left: 0;
            }
        }

        & > a {
            background: var(--accent-30);

            &::before,
            &::after {
                top: -1px;
                width: 8px;
            }
        }

        & > span {
            grid-column: 1 / -1;
            font-size: calc(var(--size-xs) + 1px);
            line-height: 160%;
            text-transform: uppercase;
            letter-spacing: 0.2em;

            a {
                font-size: 1em;
            }
        }
    }

    form {
        label {
            display: flex;
            flex-direction: column;
            gap: 10px;

            b {
                font-size: 14px;
                font-family: var(--font-head);
                text-transform: uppercase;
                font-weight: 900;
                width: 100%;
                max-width: max-content;
                color: var(--text-secondary);
                border-top: 1px solid var(--border-accent);
                border-bottom: 1px solid var(--border-accent);
                padding: 0.1em 0.4em;
                letter-spacing: 0.2em;
            }

            input {
                width: 100%;
                background: var(--bg-quaternary);
            }
        }

        button {
            background: var(--bg-accent);
            border: 1px solid var(--border-accent);
            color: var(--text-on-accent);
            font-family: var(--font-head);
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-weight: 700;
            padding: 15px 30px;
            transition-duration: 0.3s;
            margin: 0 auto;

            &:hover {
                background: var(--bg-tertiary);
                color: var(--text-secondary);
            }
        }
    }
}